


<div class="container">
    <div class="row">
        <h2>Table</h2>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Total Time In Hours</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let emp of employees">
                    <tr [ngClass]="{'table-secondary': emp.timeWorked < 100}">
                        <td>{{emp.employeeName}}</td>
                        <td>{{emp.timeWorked}}</td>
                        <td><a href="#">Edit</a></td>
                    </tr>
                </ng-container>              
            </tbody>
          </table>
    </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-3">
      <ng-container *ngIf="employeesHours != undefined && employeesNames != undefined">
        <app-chart [chartLabels]="employeesNames" [chartValues]="employeesHours" [width]="500" type="pie" titl="Pie Chart"></app-chart>
      </ng-container>
      
    </div>
    
  </div>
</div>
